html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a, p, h1, h2, h3, h4, h5, h6, img {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #0F4A6F;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 17px;
  color: #001F3D;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 17px;
  text-align: center;
  color: #001F3D;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 4px;
  color: #001F3D;
}

h5, .featuredHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  color: #21243D;
  padding: 10px;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0F4A6F;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0F4A6F;
}

.navLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: Left;
  vertical-align: Top;
  color: #181717;
}

.portfolioTabHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.techStackName {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 13.5%;
  text-align: center;
}

.recentPosts {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFBFB;
}

.viewAll {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  vertical-align: top;
  color: #FFFBFB;
}

.hamburgerDiv {
  position: fixed;
  right: 30px;
  opacity: 0;
  top: 30px;
}

.toggler {
  position: fixed;
  right: 30px;
  width: 65px;
  height: 65px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #0F4A6F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger > div:before,
.hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -20px;
  width: 100%;
  height: 8px;
  background: inherit;
}

.hamburger > div:after {
  top: 20px;
}

.toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.overlayMenu > div {
  background: #0F4A6F;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlayMenu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.overlayMenu > div > div > ul > li {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

.overlayMenu > div > div > ul > li > a {
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: white;
}

.toggler:checked ~ .overlayMenu {
  visibility: visible;
}

.toggler:checked ~ .overlayMenu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1.25s;
          transition-duration: 1.25s;
}

.toggler:checked ~ .overlayMenu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.toggler:checked ~ .hamburger > div {
  background-color: white;
}

.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.linkFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navLink {
  list-style-type: none;
}
.navLink a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}
.navLink a:hover {
  border: 2px solid #c5e6dc;
  background: #c7e6e0;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.logoDiv {
  position: relative;
  width: 150px;
}

.logoImage {
  width: 85%;
  position: absolute;
  top: -45px;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
.landing {
  padding-bottom: 100px;
}

.landingTextAndImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 125px;
}

.landingText {
  width: 55%;
}
.landingText h1 {
  padding-bottom: 30px;
}
.landingText p {
  padding-bottom: 40px;
  font-size: 20px;
}
.landingText p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 500;
}

.portraitDiv {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portraitImage {
  width: 75%;
  border-radius: 50%;
  -webkit-box-shadow: 7px 15px 40px 7px;
          box-shadow: 7px 15px 40px 7px;
}

.iconsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.landingLi {
  list-style-type: none;
}

.landingIcon {
  padding: 7px;
  background: #181717;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
.landingIcon:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
}

.landingArrow {
  text-decoration: none;
  color: black;
}
.landingArrow:hover {
  color: lightblue;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.portfolio {
  background: url("portfolioBackground.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-position-x: 35%;
  margin-bottom: 20px;
}

.projectDisplay {
  background-color: #000000;
  display: none;
}

.portfolioHeading {
  padding: 75px 0px;
  width: 400px;
  margin: 0 auto;
}

h2 {
  border: 10px solid #001F3D;
  padding: 30px 30px;
  margin-bottom: 30px;
}

.portfolioBar {
  width: 100%;
  height: 100px;
  background: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pBarP {
  width: 15%;
  text-align: center;
}
.pBarP p {
  font-size: 14px;
  padding-bottom: 20px;
  margin-top: 15px;
  text-transform: uppercase;
}

.pBarA {
  border-bottom: 2px solid grey;
}
.pBarA p {
  color: grey;
}
.pBarA p:hover {
  font-size: 16px;
  cursor: pointer;
}

.pBarB {
  border-bottom: 2px solid white;
}
.pBarB p {
  color: white;
}
.pBarB p:hover {
  font-size: 16px;
  cursor: pointer;
}

.projectRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 45px 0;
}

.projectRowA {
  border-bottom: 4px solid black;
  margin-bottom: 30px;
}

.project {
  width: 45%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.project img {
  height: 460px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectText {
  width: 40%;
  padding: 15px 25px;
  position: relative;
  border-radius: 4px;
  background: #E5E5E5;
}
.projectText h5 {
  text-align: center;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  color: #001F3D;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
.projectText p {
  padding-bottom: 40px;
  color: black;
  text-align: left;
  font-size: 14px;
}
.projectText a p {
  letter-spacing: 3px;
  background: #001F3D;
  padding: 10px 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 85%;
  margin: 0 auto;
}
.projectText a p:hover {
  background: black;
}

.video {
  width: 43%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 415px;
  border-radius: 5px;
  padding-top: 15px;
}
.video video {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  height: 700px;
  bottom: 0;
}

.pageTurnerGifAll {
  position: absolute;
  top: 0;
  height: 435px;
  width: 100%;
}

.video1 {
  width: 45%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 445px;
  border-radius: 5px;
  margin-bottom: 25px;
  padding-top: 20px;
}
.video1 video {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  bottom: 0;
}

.featured {
  background: white;
  width: 80%;
  padding-top: 75px;
  margin: 0 auto;
  display: block;
}
.featured .featuredHeading {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  font-weight: 700;
}

.featuredProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.featuredProject:nth-of-type(2) {
  border-top: 2px solid black;
  padding-top: 80px;
}

.featuredProjectImage {
  width: 33%;
  padding-right: 15px;
}
.featuredProjectImage img {
  width: 100%;
  border-radius: 10px;
  border: 0.25px solid black;
}
.featuredProjectImage video {
  width: 100%;
  border-radius: 10px;
  border: 0.25px solid black;
}

.featuredProjectText {
  width: 60%;
}
.featuredProjectText h4 {
  margin: -10px 0 20px 0;
  text-align: left;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.featuredProjectText h4 a {
  text-decoration: none;
  color: #001F3D;
}
.featuredProjectText h4 a:hover {
  text-decoration: underline;
}
.featuredProjectText span {
  background: #001F3D;
  color: white;
  border-radius: 10px;
  padding: 5px 7px;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.featureDescription {
  padding-top: 20px;
  font-size: 14px;
  color: black;
}

.fPTS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mask {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 95%;
  background: black;
  margin: 0 auto;
  text-align: center;
  padding: 75px 25px;
  z-index: 1;
  top: 0;
}
.mask:hover {
  opacity: 0.75;
}
.mask p, .mask h5 {
  color: white;
  text-align: center;
}
.mask h5 {
  padding-bottom: 25px;
  padding-top: 100px;
}
.mask p {
  padding-bottom: 25px;
}
.mask p:nth-of-type(2) {
  letter-spacing: 6px;
}
.mask button {
  background: #001F3D;
  color: white;
  opacity: 1;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 10px;
}
.mask button:hover {
  background: red;
  color: white;
}

.featuredDiv {
  width: 100%;
  background: black;
  margin: 0 auto;
}

h3 {
  border: 10px solid #001F3D;
  padding: 25px 25px;
  width: 400px;
  margin: 60px auto;
}

h4 {
  margin: 60px auto;
  text-align: center;
  padding-right: 10px;
}

.about {
  margin-top: 125px;
}

.aboutDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  padding: 50px 50px;
  border-radius: 6%;
}

.aboutText {
  width: 50%;
}
.aboutText p {
  text-align: center;
  padding: 25px 0;
  font-size: 18px;
  color: white;
}

.aboutPicture {
  width: 40%;
}
.aboutPicture img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15%;
  -webkit-box-shadow: 7px 15px 40px 7px;
          box-shadow: 7px 15px 40px 7px;
}

.techStack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  padding-bottom: 50px;
}
.tech p {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.techRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  padding-bottom: 50px;
}
.techRow p {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.stackIcon {
  margin: 30px auto;
}

.techStack:nth-of-type(2) {
  width: 80%;
  margin: 0 auto;
}
.techStack:nth-of-type(2) .tech {
  width: 50%;
}

.recentPostsDiv {
  background: #0F4A6F;
  padding-bottom: 70px;
  margin: 125px 0;
}

.recentHeading {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recentHeading p {
  color: white;
  padding-bottom: 10px;
}
.recentHeading p:nth-of-type(2) {
  text-align: right;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post {
  background: white;
  width: 47%;
}

.postText {
  margin: 15px;
}
.postText p {
  text-align: left;
  margin-left: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
.postText p:nth-of-type(2) {
  color: black;
}

.post:nth-of-type(2) h5 {
  padding-bottom: 35px;
}

h5 a {
  text-decoration: none;
  color: #21243D;
}
h5 a:hover {
  color: #FEC89A;
}

.viewAll a {
  text-decoration: none;
  color: white;
}
.viewAll a:hover {
  color: #FEC89A;
}

.contactSection {
  margin-top: 125px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 150px 0;
}

.contactImage {
  border: 10px solid #001F3D;
  width: 33%;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactForm button {
  background: #001F3D;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0;
  width: 75%;
}
.contactForm button:hover {
  background: lightblue;
  color: black;
}

.submittedContact {
  width: 33%;
  text-align: center;
  margin: 0 auto;
}

.contactInput {
  border: none;
  border-bottom: 2px solid #001F3D;
  background: #E5E5E5;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  color: #001F3D;
  overflow: hidden;
  width: 90%;
  font-size: 20px;
  margin: 30px 0;
}

.contactInfo {
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactInfo p {
  font-size: 16px;
  padding: 35px 0 35px 0;
  text-align: center;
}
.contactInfo p:first-of-type {
  font-size: 20px;
  padding-bottom: 0;
}

footer {
  background: #000000;
  height: 300px;
  margin: 0 auto;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: white;
}

.footerDiv {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
.footerDiv p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  letter-spacing: 10px;
}

.footerLinks {
  margin: 30px;
}

.footerIcon {
  padding: 10px 35px;
  background: #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
.footerIcon:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
}

.footerR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerR p:nth-of-type(1) {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 5px;
  color: white;
  padding-right: 10px;
}
.footerR p:nth-of-type(2) {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 5px;
  color: white;
}

.doubleArrow:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 1000px) {
  .linkFlex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .fPTS {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .featuredProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featuredProject span {
    margin-bottom: 10px;
  }

  .featuredProjectImage {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  .featuredProjectText {
    width: 100%;
  }
  .featuredProjectText h4 {
    text-align: center;
  }

  .featureDescription, .featured h5 {
    text-align: center;
  }

  .projectRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .projectRowB, .projectRowD {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .video, .video1, .projectText, .project {
    width: 100%;
  }

  .projectText {
    margin: 20px 0;
    padding: 40px 25px;
  }

  .projectText a p {
    width: 90%;
  }

  .techStackName {
    font-size: 20px;
  }

  .contactInfo {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .contactInput {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 10px;
  }

  .contactForm {
    width: 100%;
    text-align: center;
  }
  .contactForm button {
    margin: 0 auto;
  }

  .contactImage {
    width: 100%;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 900px) {
  .landingTextAndImage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .landingText, .portraitDiv, .iconsFlex {
    width: 100%;
  }

  .landingText {
    text-align: center;
    padding-top: 25px;
  }

  .portraitDiv {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .iconsFlex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .landingArrow {
    position: absolute;
    left: 47%;
  }

  .linkFlex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 15%;
  }

  .navLink {
    padding-bottom: 25px;
  }

  .logoImage {
    position: relative;
  }

  .landingTextAndImage {
    padding-top: 0;
  }
}
@media (max-width: 700px) {
  .footerR {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footerR p:nth-of-type(1) {
    line-height: 20px;
  }

  .postText h5 {
    font-size: 16px;
  }

  .postText p, .techStackName {
    font-size: 14px;
  }

  h4, h3 {
    font-size: 25px;
    margin: 20px auto;
  }

  .aboutText {
    width: 100%;
    padding-bottom: 10px;
  }
  .aboutText p {
    font-size: 16px;
  }

  .aboutPicture {
    width: 100%;
    padding-bottom: 10px;
  }
  .aboutPicture img {
    height: 70vh;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -o-object-fit: cover;
       object-fit: cover;
  }

  .aboutDesc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .project {
    padding-right: 0;
  }

  .projectRow {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .projectDisplay {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .portfolio {
    background-size: auto;
  }

  .linkFlex {
    display: none;
  }

  h3 {
    width: 70%;
  }

  .post {
    background: white;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .recentPostsDiv {
    margin-left: 5px;
  }

  .tech, .techRow {
    width: 33%;
  }

  .aboutPicture img {
    height: 50vh;
  }
}
body, html {
  font-size: 125%;
  background-color: #E5E5E5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

main {
  position: relative;
  z-index: 0;
}

header {
  position: relative;
  z-index: 1;
}