h3 {
    border: 10px solid #001F3D;
    padding: 25px 25px;
    width: 400px;
    margin: 60px auto;
}
h4 {
   margin: 60px auto;
   text-align: center;
   padding-right: 10px;
}
.aboutDesc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutText {
    width: 50%;
    p {
        text-align: left;
        padding: 25px 0;
        font-size: 18px;
    }
}
.aboutPicture {
    width: 40%;
    img {
        width: 100%;
        height: 60vh;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
        border: 10px solid white;
    }
}


.techStack {
    display: flex;
    flex-wrap: wrap;
}
.tech {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-bottom: 50px;
    p {
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
    }
}
.techRow {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-bottom: 50px;
    p {
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}
.stackIcon {
    margin: 30px auto;
}

.techStack:nth-of-type(3){
    width: 80%;
    margin: 0 auto;
    .tech {
        width: 50%;
    }
}
// .tech:last-of-type {
//     width: 100%;
// }