.landing{
    padding-bottom: 100px;
}
.landingTextAndImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.landingText {
    width: 55%;
    h1 {
        padding-bottom: 30px;
    }
    p {
        padding-bottom: 40px;
        font-size: 20px;
    }
    p:nth-of-type(2){
        font-size: 18px;
        font-weight: 500;
    }
}
.portraitDiv {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.portraitImage {
    width: 400px;
    border-radius: 50%;
    border: 7px solid #001F3D;
    box-shadow: 7px 25px 25px 7px;
}
.iconsFlex {
    display: flex;
    width: 18%;
    justify-content: space-between;
    padding: 0;
}
.landingLi {
    list-style-type: none;
}
.landingIcon {
    padding: 7px;
    background: #181717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
    }
}
.landingArrow {
    text-decoration: none;
    color: black;
    &:hover{
        color: lightblue;
        transform: translateY(30px);
    }
}