.landing{
    height: 85vh;
}
.landingTextAndImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.landingText {
    width: 50%;
    h1 {
        padding-bottom: 50px;
    }
    p {
        padding-bottom: 40px
    }
}

.iconsFlex {
    display: flex;
    width: 18%;
    justify-content: space-between;
    padding: 0;
}
.landingLi {
    list-style-type: none;
}
.landingIcon {
    padding: 7px;
    background: #181717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}