.portfolio{
    background: url("../../portfolioBackground.png");
    background-size:cover;
    height: 2350px;
    background-repeat: no-repeat;
    background-position-y: -350px;
    background-position-x: 35%;
    
}
.projectDisplay {
    background-color: #1A1A1A;

}
.portfolioHeading {
    padding: 75px 0px;
    width: 400px;
    margin: 0 auto;
}
h2 {
    border: 10px solid #001F3D;
    padding: 30px 30px;
    margin-bottom: 30px;
}
.portfolioBar {
    width: 100%;
    height: 100px;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pBarP {
    width: 15%;
    text-align: center;
    p {
        font-size: 14px;
        padding-bottom: 20px;
        margin-top: 15px;
        text-transform: uppercase;
    }
    
}
.pBarA {
    border-bottom: 2px solid white;
    p {
        color: white;
    }
}

.pBarB {
    border-bottom: 2px solid grey;
    p {
        color: grey;
    }
}
.projectRow {
    // display: flex;
    margin: 0;
    padding: 0;
}
.projectRowA {
    border-bottom: 4px solid black;
}
.project {
    width: 100%;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
    
}
.pageTurners {
    object-position: top;
}
