.portfolio{
    background: url("../../portfolioBackground.png");
    background-size:cover;
    height: 1500px;
    background-repeat: no-repeat;
    background-position-y: -350px;
    background-position-x: 35%;
    margin-bottom: 20px;
    
}
.projectDisplay {
    background-color: #1A1A1A;

}
.portfolioHeading {
    padding: 75px 0px;
    width: 400px;
    margin: 0 auto;
}
h2 {
    border: 10px solid #001F3D;
    padding: 30px 30px;
    margin-bottom: 30px;
}
.portfolioBar {
    width: 100%;
    height: 100px;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pBarP {
    width: 15%;
    text-align: center;
    p {
        font-size: 14px;
        padding-bottom: 20px;
        margin-top: 15px;
        text-transform: uppercase;
    }
    
}
.pBarA {
    border-bottom: 2px solid white;
    p {
        color: white;
    }
}

.pBarB {
    border-bottom: 2px solid grey;
    p {
        color: grey;
    }
}
.projectRow {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.projectRowA {
    border-bottom: 4px solid black;
    margin-bottom: 30px;
}
.project {
    width: 45%;
    background: rgba(104, 104, 104, 0.091);
    border-radius: 5px;
    border: solid 1rem rgba(104, 104, 104, 0.091);
    overflow: hidden;
    height: 435px;
    img {
        height: 550px;
        width: 100%;
        object-fit: cover; 
    }
}
.video {
    width: 45%;
    position: relative;
    display: inline-block;
    overflow:hidden;
    height: 435px;
    background: rgba(104, 104, 104, 0.091);
    // padding-top: 20px;
    // padding-bottom: 40px;
    border-radius: 5px;
    border: solid 1rem rgba(104, 104, 104, 0.091);
    margin-bottom: 25px;
   video {
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        height: 700px;
        bottom: 0;
    }
}

