h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0F4A6F;

}
//Portfolio sub heading

h2 {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 44%;
    color: #001F3D;
}

// About Me, Contact

h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 36%;
    text-align: center;
    color: #001F3D;
}

// Using now 

h4 {
    font-family: Montserrat;
    font-weight: 700px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 18.5%;
    color: #001F3D
}

//body paragraphs, contact sheet
p {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0F4A6F
}

.navLink {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: Left;
    vertical-align: Top;
    color: #181717;
}

.portfolioTabHeading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.techStackName {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 13.5%;
    text-align: center;
}

.recentPosts {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFBFB;
}

.viewAll {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    vertical-align: top;
    color: #FFFBFB;
}

