$mont: 'Montserrat', sans-serif;
$nun: 'Nunito', sans-serif;

h1 {
    font-family: $mont;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #0F4A6F;

}
//Portfolio sub heading

h2 {
    font-family: $mont;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 17px;
    color: #001F3D;
}

// About Me, Contact

h3 {
    font-family: $mont;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 17px;
    text-align: center;
    color: #001F3D;
}

// Using now 

h4 {
    font-family: $mont;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #001F3D
}

h5 {
    font-family: $mont;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    color: #21243D;
    padding: 10px;
}
// contact subheadings
h6 {

    font-family: $mont;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0F4A6F;
}
//body paragraphs, contact sheet
p {
    font-family: $mont;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0F4A6F
}

.navLink {
    font-family: $mont;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: Left;
    vertical-align: Top;
    color: #181717;
}

.portfolioTabHeading {
    font-family: $mont;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.techStackName {
    font-family: $mont;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 13.5%;
    text-align: center;
}

.recentPosts {
    font-family: $mont;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFBFB;
}

.viewAll {
    font-family: $mont;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    vertical-align: top;
    color: #FFFBFB;
}

