@import "./partials/normalize";
@import "./partials/typography";
@import "./partials/nav";
@import "./partials/landing";
@import "./partials/portfolioSection";
@import "./partials/about";
@import "./partials/recentPosts";
@import "./partials/contact";
@import "./partials/footer";
@import "./partials/_mediaQueries";


body, html {
    font-size: 125%;
    background-image: url(backgroundPattern.png);
    background-color: (255, 255, 255, 0.8);
    background-blend-mode: lighten;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*,
  *:before,
  *:after {
    transition: 0.5s ease-in-out;
  }

.wrapper {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}
main {
  position: relative;
  z-index: 0;
}
header {
  position: relative;
  z-index: 1;
}