@import "./partials/normalize";
@import "./partials/typography";
@import "./partials/nav";
@import "./partials/landing";
@import "./partials/portfolioSection";
@import "./partials/about";
@import "./partials/recentPosts";
@import "./partials/contact";
@import "./partials/footer";
@import "./partials/_mediaQueries";


body, html {
    font-size: 125%;
    background-color: #E5E5E5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*,
  *:before,
  *:after {
    transition: 0.5s ease-in-out;
  }

.wrapper {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}